/* SECTION > Hero Landing */

#hero-container {
  overflow: hidden;
  height: 100vh;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../images/hero-house.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  filter: brightness(1);
  height: 100%;
}

#hero img {
  width: 230px;
}

#hero-menu {
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* mobile logo */
#hero-menu img:last-of-type {
  display: none;
}

#hero-menu div > ul li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  display: inline-block;
  font-size: 1rem;
  padding-top: 8px;
  overflow: hidden;
}

#hero-menu div > ul li {
  overflow: hidden;
  max-height: 58px;
}

#hero-menu ul {
  overflow: hidden;
  max-height: 22px;
  min-height: 22px;
}

.hero-a2 {
  position: relative;
  top: 0px;
}

#hero .btn {
  z-index: 9998;
}

#hero-container h1 {
  font-weight: 400;
  font-size: 2.75rem;
}

.scroll {
  font-size: 1rem;
}

/* SECTION >  intro to company */

#company-intro div {
  overflow: hidden;
  color: #080807;
}

.frases-intro h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

#intro-about p {
  font-size: 1.5rem;
}

.text-intro img {
  width: auto;
  max-height: 750px;
}

/* SECTION > OUR METHOD */

#our-method {
  overflow: hidden;
}

#our-method h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6;
}

/* incremented ol for each li inputted */

.custom-ol {
  counter-reset: section;
  list-style: none;
}

.custom-ol li {
  counter-increment: section;
  color: #080807;
  font-weight: 400;
  font-size: 1.5rem;
}

.custom-ol li::before {
  content: "(0" counter(section) ")  ";
  font-weight: 500;
  color: #a1a1a1;
}


/* featured projects */

.featured-title {
  font-size: 2.5rem;
  font-weight: 500;
}

#featured-projects span{
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* testimonial */

#testimonial h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.testimonial-text {
  font-size: 1.5rem;
}

#testimonial span {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;

}

/* BREAKPOINT MOBILE  */

@media only screen and (max-width: 600px) {
  /* hero */

  #hero-links {
    display: none !important;
  }

  #hero-menu img:first-of-type {
    display: none;
  }
  #hero-menu img:last-of-type {
    display: flex;
    width: 90px;
    height: auto;
  }

  #hero-menu button.contactBtn {
    display: none;
  }

  #hero-container h1 {
    font-size: 2rem;
  }

  .scroll {
    font-size: 0.8rem;
  }
  /* Intro / about  */

  .frases-intro h2 {
    font-size: 1.85rem;
    font-weight: 500;
  }

  #intro-about p {
    font-size: 1rem;
  }

  /*  our method */

  #our-method h2 {
  font-size: 1.85rem;
  font-weight: 450;
  line-height: normal;

}

  .custom-ol li {
    font-size: 1rem;
  }

  /* featured projects */

.featured-title {
  font-size: 1.85rem;
  font-weight: 500;
}


#featured-projects span{
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 650;
}

  /* testimonial */

  #testimonial h2 {
  font-size: 1.85rem;
  font-weight: 450;
}

.testimonial-text {
  font-size: 1rem;
}

#testimonial span {
  font-size: 1.1rem;
  font-weight: 650;
  text-transform: uppercase;

}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* hero */

  #hero-links,
  #top-nav-links {
    display: none !important;
  }

  #hero-menu img:last-of-type {
    display: none;
  }

  #hero-container h1 {
    font-size: 2.5rem;
  }

  /* Intro / about */

  #intro-about p {
    font-size: 1.2rem;
  }

  .frases-intro h2 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;

  }

  /* our method */

  #our-method h2 {
    font-size: 2.25rem;
    font-weight: 450;
  }

  .custom-ol li {
    font-size: 1.2rem;
  }

  /* featured projects */

.featured-title {
  font-size: 2.25rem;
  font-weight: 500;
}


#featured-projects span{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 650;
}

/* testimonial */

#testimonial h2 {
  font-size: 2.25rem;
  font-weight: 450;
}

.testimonial-text {
  font-size: 1.2rem;
}

#testimonial span {
  font-size: 1rem;
  font-weight: 650;
  text-transform: uppercase;

}
}
