
/* BREAKPOINT MOBILE  */

@media only screen and (max-width: 600px) {
 
 

}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* bootstrap toma conta disto */
}



/* section Building intro */

#top-nav a {
  color: white !important;
}

/* Here will go each background depending each page, no need for JS just quite simple css and selectors */

#building-dmx  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-7/project7-1.jpg);

}
#building-sven-cabin  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-2/project2-1.jpg);

}
#building-chalet-beatriz  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-3/project3-2.jpg);

}
#building-omega-house  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-6/project6-1.jpg);

}
#building-winston-chalet  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-8/project8-5.jpg);

}
#building-gnott-museum  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-1/project1-2.jpg);

}
#building-zaza-house  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-5/project5-2.jpg);

}
#building-colonia-tovar  #building-intro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/buildings-img/project-9/project9-2.jpg);

}





#building-intro {
  background-position: center;
  background-size: cover;
  color: white;
  height: 180vh;
  overflow: hidden;
  position: relative;
  z-index: 9995;
  

}

#building-intro h1 {
  text-transform: capitalize;
}

#building-brief {
  height: 50%;
}
#building-brief p {
  font-size: 1rem;
  text-transform: uppercase;
}
#building-brief h1 {
  font-size: 8rem;
}
#building-intro section:last-of-type {
  height: 45%;
  margin-top: 100px;
}

#building-intro section:last-of-type h2{
  font-size: 1rem;
  font-weight: 300;
  color: rgba(224, 224, 224, 0.869);
}
#building-intro section:last-of-type p{
  font-size: 1.3rem;
  font-weight: 500;
}

#building-gallery{
  overflow: hidden;
  position: relative;
  z-index: 9996;
  background-color: white;
}





/* Next Project Navigation */

#next-project p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

#next-project p::after{
  content: ")";
}
#next-project p::before{
  content: "(";
}

#next-project h3 {
  font-size: 70px;
  text-transform: capitalize;
}