
/* BREAKPOINT MOBILE  */

@media only screen and (max-width: 600px) {
 
 
#building-each-intro {

  height: 75vh !important;

}

}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* bootstrap toma conta disto */
}


#building-each-intro {

  height: 90vh;
  overflow-y: hidden;

}

#building-each-hero {
  height: 100%;
  width: 100%;
}

#img-landing {
  height: 100%;
  max-height: 65vh;
  background-image: url(../images/buildings-img/project-2/project2-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}