
#terms-service > h1 {
    font-size: 2.75rem;
    font-weight: 500;
}

#terms-service h2 {
    font-size: 2.5rem;
    font-size: 500;
}

#terms-service p {
    font-size: 1.5rem;
}



/* Breakpoints */

@media only screen and (min-width: 601px) and (max-width: 992px) {


#terms-service > h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

#terms-service h2 {
    font-size: 2.25rem;
    font-size: 400;
}

#terms-service p {
    font-size: 1.2rem;
}




}

@media only screen and (max-width: 600px) {


#terms-service > h1 {
    font-size: 2rem;
    font-weight: 500;
}

#terms-service h2 {
    font-size: 1.85rem;
    font-size: 400;
}

#terms-service p {
    font-size: 1rem;
}




}

