/* BREAKPOINT MOBILE  */

@media only screen and (max-width: 600px) {
 
/* hero */

  #hero-links {
    display: none !important;
  }

  #hero-menu img:first-of-type{
    display: none;
  }
  #hero-menu img:last-of-type {
    display: flex !important;
    width: 90px;
    height: auto;
  }

  #hero-menu button.contactBtn{
    display: none;
  }

  #hero-container h1 {
    font-size: 18px;
  }

  .scroll {
    font-size: 12px;
  }

  #intro-about p {
  font-size: 0.9rem !important;
}

  #testimonial p.testimonial-text {
    font-size: 0.9rem !important;
  }




}

@media only screen and (min-width: 601px) and (max-width: 992px)  {
  

  #hero-menu button {
    font-size: 11px;
  }

  #hero-links, #top-nav-links {
    display: none !important;
  }

  #hero-menu img:last-of-type{
    display: none;
  }


  #testimonial p.testimonial-text {
    font-size: 1rem !important;
  }

  #intro-about p {
  font-size: 1.2rem !important;
}

}

/* SECTION > Hero Landing */

#hero-container {
  overflow: hidden;
  height: 100vh;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../images/hero-house.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  filter: brightness(1);
  height: 100%;
}

#hero img {
  width: 230px;
}

#hero-menu {
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* mobile logo */
#hero-menu img:last-of-type {
  display: none;
}

#hero-menu div > ul li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 550;
  display: inline-block;
  font-size: 16px;
  padding-top: 8px;
  overflow: hidden;
}

#hero-menu div > ul li {
  overflow: hidden;
  max-height: 58px;
}

#hero-menu ul {
  overflow: hidden;
  max-height: 22px;
  min-height: 22px;
}

.hero-a2 {
  position: relative;
  top: 0px;
}

#hero .btn {
  z-index: 9998;
}


/* SECTION >  intro to company */

#company-intro {
  height: auto;
  color: #080807;
}

#company-intro div {
  overflow: hidden;
  color: #080807;
}

#intro-about p {
  font-size: 1.5rem;
}

.text-intro img {
  width: auto;
  max-height: 750px;
}

/* SECTION > OUR METHOD */

#our-method {
  overflow: hidden;
}

.custom-ol {
  counter-reset: section;
  list-style: none ;
}

.custom-ol li {
  counter-increment: section ;
  color: #080807;
  font-weight: lighter;
}

.custom-ol li::before {
  content: "(0" counter(section) ")  ";
  font-weight: 500;
  font-size: 20px;
  color: #535353;
}




/* SECTION TESTIMONIAL */

  #testimonial p.testimonial-text {
    font-size: 1.1rem;
  }
