



/* SECTION >  about intro*/

#about-intro {

  height: 95vh;
  overflow-y: hidden;

}

#about-hero {
  height: 100%;
  width: 100%;
}

#img-landing {
  height: 100%;
  max-height: 65vh;
  background-image: url(../images/about-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#about-hero h1 {
  font-size: 2.75rem;
  font-weight: 500;

}

#about-hero p {
  font-size: 1.25rem;
}

/* our people */

#our-people h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

#our-people p {
  font-size: 1.25rem;
}

/* our philo */
#our-philo h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
#our-philo h3 {
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

#our-philo p {
  font-size: 1.25rem;
  color: #252525;
}

.pillar-number {
font-size: 10rem;

}

/* BREAKPOINT MOBILE  */


@media only screen and (min-width: 601px) and (max-width: 992px) {


#img-landing {
  max-height: 65%;
}

#about-hero h1 {
  font-size: 2.5rem;
  font-weight: 500;

}

#about-hero p {
  font-size: 1rem;
}



/* our people */

#our-people h2 {
  font-size: 2.25rem;
  font-weight: 500;
}

#our-people p {
  font-size: 1rem;
}

/* our philo */

#our-philo h2 {
  font-size: 2.25rem;
  font-weight: 500;
}
#our-philo h3 {
  font-size: 2rem;
  font-weight: 500;
}

#our-philo p {
  font-size: 1rem;
  color: #252525;
}

.pillar-number {
font-size: 10rem;

}

}

@media only screen and (max-width: 600px) {
 
#about-intro {

  height: 75vh ;

}

#img-landing {
  max-height: 55%;
}

#about-hero h1 {
  font-size: 2rem;
  font-weight: 500;

}

#about-hero p {
  font-size: 0.85rem;
}


/* our people */

#our-people h2 {
  font-size: 1.85rem;
  font-weight: 500;
}

#our-people p {
  font-size: 0.85rem;
}


/* our philo */
#our-philo h2 {
  font-size: 1.85rem;
  font-weight: 500;
}

#our-philo h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

#our-philo p {
  font-size: 0.85rem;
  color: #252525;
}

.pillar-number {
font-size: 8rem;

}



}
